In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
serie= Series([3,5,7,9])
serie

0    3
1    5
2    7
3    9
dtype: int64

In [4]:
countries= Series([780,560,430,250], index=['USSR', 'Italy', "BG", 'England'])

In [5]:
countries

USSR       780
Italy      560
BG         430
England    250
dtype: int64

In [6]:
countries['Italy']

560

In [7]:
countries[countries>=560]

USSR     780
Italy    560
dtype: int64

In [8]:
countries.name="Countries"
countries

USSR       780
Italy      560
BG         430
England    250
Name: Countries, dtype: int64

In [9]:
countries.index.name='country'
countries

country
USSR       780
Italy      560
BG         430
England    250
Name: Countries, dtype: int64

In [10]:
countries.items.name='population'
countries

AttributeError: 'method' object has no attribute 'name'

In [11]:
countries.values.name='population'
countries

AttributeError: 'numpy.ndarray' object has no attribute 'name'

In [12]:
import webbrowser
website='http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [13]:
dt_frame=pd.read_clipboard()

In [14]:
dt_frame

   1        Dallas Cowboys    947  538  403   6   .571  1960   NFC East
0  2     Green Bay Packers  1,414  787  589  38  0.570  1921  NFC North
1  3  New England Patriots    949  529  411   9  0.562  1960   AFC East
2  4      Baltimore Ravens    417  233  183   1  0.560  1996  AFC North
3  5         Chicago Bears  1,448  786  620  42  0.557  1920  NFC North

In [15]:
dt_frame=pd.read_clipboard()
dt_frame

ParserError: Expected 11 fields in line 4, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

In [16]:
dt_frame2=pd.read_clipboard()
dt_frame2

ParserError: Expected 11 fields in line 4, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

In [17]:
dt_frame=pd.read_clipboard()
dt_frame

ParserError: Expected 11 fields in line 4, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

In [18]:
dt_frame=pd.read_clipboard()
dt_frame

   1        Dallas Cowboys    947  538  403   6   .571  1960   NFC East
0  2     Green Bay Packers  1,414  787  589  38  0.570  1921  NFC North
1  3  New England Patriots    949  529  411   9  0.562  1960   AFC East
2  4      Baltimore Ravens    417  233  183   1  0.560  1996  AFC North
3  5         Chicago Bears  1,448  786  620  42  0.557  1920  NFC North

In [19]:
dt_frame.columns=['Rank', 'Team','GP','Won','Lost', 'Tied','Pkt', 'First season', 'Division']
dt_frame

,Rank,Team,GP,Won,Lost,Tied,Pkt,First season,Division
0,2,Green Bay Packers,"1,414",787,589,38,0.570,1921,NFC North
1,3,New England Patriots,949,529,411,9,0.562,1960,AFC East
2,4,Baltimore Ravens,417,233,183,1,0.560,1996,AFC North
3,5,Chicago Bears,"1,448",786,620,42,0.557,1920,NFC North

In [20]:
dt_frame.rank

<bound method NDFrame.rank of    Rank                  Team     GP  Won  Lost  Tied    Pkt  First season  \
0     2     Green Bay Packers  1,414  787   589    38  0.570          1921
1     3  New England Patriots    949  529   411     9  0.562          1960
2     4      Baltimore Ravens    417  233   183     1  0.560          1996
3     5         Chicago Bears  1,448  786   620    42  0.557          1920

    Division
0  NFC North
1   AFC East
2  AFC North
3  NFC North  >

In [21]:
dt_frame.Rank

0    2
1    3
2    4
3    5
Name: Rank, dtype: int64

In [22]:
dt_frame['First season']

0    1921
1    1960
2    1996
3    1920
Name: First season, dtype: int64

In [24]:
DataFrame(dt_frame,columns=['Team','Rank','Won','Lost'])

                   Team  Rank  Won  Lost
0     Green Bay Packers     2  787   589
1  New England Patriots     3  529   411
2      Baltimore Ravens     4  233   183
3         Chicago Bears     5  786   620

In [25]:
dt_frame.head(3)

,Rank,Team,GP,Won,Lost,Tied,Pkt,First season,Division
0,2,Green Bay Packers,"1,414",787,589,38,0.570,1921,NFC North
1,3,New England Patriots,949,529,411,9,0.562,1960,AFC East
2,4,Baltimore Ravens,417,233,183,1,0.560,1996,AFC North

In [26]:
dt_frame.ix[2]

AttributeError: 'DataFrame' object has no attribute 'ix'

In [27]:
dt_frame.index[2]

2

In [28]:
dt_frame.info[2]

TypeError: 'method' object is not subscriptable

In [29]:
dt_frame.iloc[2]

Rank                           4
Team            Baltimore Ravens
GP                           417
Won                          233
Lost                         183
Tied                           1
Pkt                         0.56
First season                1996
Division               AFC North
Name: 2, dtype: object

In [30]:
dt_frame.columns.append('Stadium')
dt_frame

TypeError: all inputs must be Index

In [31]:
DataFrame(dt_frame,columns=['Team','Rank','Won','Lost','Stadium'])

                   Team  Rank  Won  Lost  Stadium
0     Green Bay Packers     2  787   589      NaN
1  New England Patriots     3  529   411      NaN
2      Baltimore Ravens     4  233   183      NaN
3         Chicago Bears     5  786   620      NaN

In [32]:
dt_frame

,Rank,Team,GP,Won,Lost,Tied,Pkt,First season,Division
0,2,Green Bay Packers,"1,414",787,589,38,0.570,1921,NFC North
1,3,New England Patriots,949,529,411,9,0.562,1960,AFC East
2,4,Baltimore Ravens,417,233,183,1,0.560,1996,AFC North
3,5,Chicago Bears,"1,448",786,620,42,0.557,1920,NFC North

In [33]:
dt_frame['Stadium']='New'
dt_frame

,Rank,Team,GP,Won,Lost,Tied,Pkt,First season,Division,Stadium
0,2,Green Bay Packers,"1,414",787,589,38,0.570,1921,NFC North,New
1,3,New England Patriots,949,529,411,9,0.562,1960,AFC East,New
2,4,Baltimore Ravens,417,233,183,1,0.560,1996,AFC North,New
3,5,Chicago Bears,"1,448",786,620,42,0.557,1920,NFC North,New

In [34]:
dt_frame['Stadium'][1]='Old'

C:\Users\penev\AppData\Local\Temp\ipykernel_58804\308889048.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dt_frame['Stadium'][1]='Old'

In [35]:
dt_frame.at[3,'Stadium']='Old'

In [36]:
dt_frame

,Rank,Team,GP,Won,Lost,Tied,Pkt,First season,Division,Stadium
0,2,Green Bay Packers,"1,414",787,589,38,0.570,1921,NFC North,New
1,3,New England Patriots,949,529,411,9,0.562,1960,AFC East,Old
2,4,Baltimore Ravens,417,233,183,1,0.560,1996,AFC North,New
3,5,Chicago Bears,"1,448",786,620,42,0.557,1920,NFC North,Old

In [37]:
dt_frame.at[0,'Stadium']='Old'

In [38]:
dt_frame

,Rank,Team,GP,Won,Lost,Tied,Pkt,First season,Division,Stadium
0,2,Green Bay Packers,"1,414",787,589,38,0.570,1921,NFC North,Old
1,3,New England Patriots,949,529,411,9,0.562,1960,AFC East,Old
2,4,Baltimore Ravens,417,233,183,1,0.560,1996,AFC North,New
3,5,Chicago Bears,"1,448",786,620,42,0.557,1920,NFC North,Old

In [39]:
stadiums=Series(['NY','Dallas'], index=[3,0])
stadiums

3        NY
0    Dallas
dtype: object

In [40]:
dt_frame['Stadium']=stadiums

In [41]:
dt_frame

,Rank,Team,GP,Won,Lost,Tied,Pkt,First season,Division,Stadium
0,2,Green Bay Packers,"1,414",787,589,38,0.570,1921,NFC North,Dallas
1,3,New England Patriots,949,529,411,9,0.562,1960,AFC East,NaN
2,4,Baltimore Ravens,417,233,183,1,0.560,1996,AFC North,NaN
3,5,Chicago Bears,"1,448",786,620,42,0.557,1920,NFC North,NY

In [42]:
data={'city':['NY','Dallas','SF'],'population': [540,327,650]}
city_frame=DataFrame(data)
city_frame

     city  population
0      NY         540
1  Dallas         327
2      SF         650

In [43]:
website='http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html'
webbrowser.open(website)

True

In [44]:
from numpy.random import randn
ser1=Series([1,2,3,4], index=['a','b','c','d'])
ser1

a    1
b    2
c    3
d    4
dtype: int64

In [45]:
ser2=ser1.reindex(['a','b','c','m','d','f'])
ser2

a    1.0
b    2.0
c    3.0
m    NaN
d    4.0
f    NaN
dtype: float64

In [46]:
ranger= range(15)
ranger

range(0, 15)

In [47]:
ser3=Series(['USA','GB','BG'], index=[2,8,11])
ser3

2     USA
8      GB
11     BG
dtype: object

In [48]:
ser3.reindex(ranger)

0     NaN
1     NaN
2     USA
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8      GB
9     NaN
10    NaN
11     BG
12    NaN
13    NaN
14    NaN
dtype: object

In [49]:
ser3.reindex(ranger, method='ffill')

0     NaN
1     NaN
2     USA
3     USA
4     USA
5     USA
6     USA
7     USA
8      GB
9      GB
10     GB
11     BG
12     BG
13     BG
14     BG
dtype: object

In [50]:
dt_frame2=DataFrame(randn(25).reshape((5,5)), index=['A','B','C','E','F'], columns=['col1', 'col2', 'col3','col4','col5'])
dt_frame2

       col1      col2      col3      col4      col5
A -0.878760 -0.068314  0.392529  0.443355  0.420716
B  0.172468  1.373759  1.616393 -1.494157  2.636226
C  0.229884 -0.148842  0.482711  3.254613  0.471528
E  0.728052  0.695741 -0.915108  0.302464  0.393601
F -0.731237 -0.831258  1.485891 -0.742016  0.987011

In [53]:
dt_frame3=dt_frame2.reindex(['A','B','C','D','E','F','G'], fill_value=0)
dt_frame3

       col1      col2      col3      col4      col5
A -0.878760 -0.068314  0.392529  0.443355  0.420716
B  0.172468  1.373759  1.616393 -1.494157  2.636226
C  0.229884 -0.148842  0.482711  3.254613  0.471528
D  0.000000  0.000000  0.000000  0.000000  0.000000
E  0.728052  0.695741 -0.915108  0.302464  0.393601
F -0.731237 -0.831258  1.485891 -0.742016  0.987011
G  0.000000  0.000000  0.000000  0.000000  0.000000

In [55]:
dt_frame3.reindex(columns=['col1','col2','col3','col4','col5','col6'])
dt_frame3

       col1      col2      col3      col4      col5
A -0.878760 -0.068314  0.392529  0.443355  0.420716
B  0.172468  1.373759  1.616393 -1.494157  2.636226
C  0.229884 -0.148842  0.482711  3.254613  0.471528
D  0.000000  0.000000  0.000000  0.000000  0.000000
E  0.728052  0.695741 -0.915108  0.302464  0.393601
F -0.731237 -0.831258  1.485891 -0.742016  0.987011
G  0.000000  0.000000  0.000000  0.000000  0.000000

In [57]:
new_colums=['col1','col2','col3','col4','col5','col6']
dt_frame3.reindex(columns=new_colums, fill_value=3)

       col1      col2      col3      col4      col5  col6
A -0.878760 -0.068314  0.392529  0.443355  0.420716     3
B  0.172468  1.373759  1.616393 -1.494157  2.636226     3
C  0.229884 -0.148842  0.482711  3.254613  0.471528     3
D  0.000000  0.000000  0.000000  0.000000  0.000000     3
E  0.728052  0.695741 -0.915108  0.302464  0.393601     3
F -0.731237 -0.831258  1.485891 -0.742016  0.987011     3
G  0.000000  0.000000  0.000000  0.000000  0.000000     3

In [58]:
dt_frame2

       col1      col2      col3      col4      col5
A -0.878760 -0.068314  0.392529  0.443355  0.420716
B  0.172468  1.373759  1.616393 -1.494157  2.636226
C  0.229884 -0.148842  0.482711  3.254613  0.471528
E  0.728052  0.695741 -0.915108  0.302464  0.393601
F -0.731237 -0.831258  1.485891 -0.742016  0.987011

In [60]:
dt_frame.loc[['A','B','C','E','F'],new_colums]
dt_frame.

KeyError: "None of [Index(['A', 'B', 'C', 'E', 'F'], dtype='object')] are in the [index]"

In [61]:
ser1=Series(np.arange(3),index=['a','b','c'])
ser1

a    0
b    1
c    2
dtype: int32

In [62]:
ser1.drop('b')

a    0
c    2
dtype: int32

In [63]:
dt_frame4=DataFrame(np.arange(9).reshape((3,3)), index=['NY','Dallas','SF'], columns=['pop','size','area'])
dt_frame4

        pop  size  area
NY        0     1     2
Dallas    3     4     5
SF        6     7     8

In [64]:
dt_frame5=dt_frame4.drop('area', axis=1)
dt_frame5

        pop  size
NY        0     1
Dallas    3     4
SF        6     7